[Desktop Entry]
Name=Observatory

Comment=System Monitor application for the COSMIC Desktop
Comment[fr]=Gestionnaire de tâche pour le COSMIC Desktop

Keywords=system;monitor;task;manager;resource
Keywords[fr]=gestionnaire;tache;manager;ressource

Exec=observatory
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.cosmic_utils.observatory
StartupWMClass=io.github.cosmic_utils.observatory
Categories=System;Utility;
