[Desktop Entry]
Name=Observatory
Comment=A system monitor for the COSMIC™ desktop
Type=Application
Icon=io.github.CosmicUtils.Observatory
Exec=observatory %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
